<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    {{>meta}}
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Bhungane Mthimkulu. It uses data from <a href="https://mapbox.com" target="_blank">Map Box</a> and <a href="https://weatherstack.com" target="_blank">Weather Stack</a>.</p>
        <img class="portrait" src="/img/IMG_20210218_181721_square.jpg">
    </div>
    
    {{>footer}}
</body>

</html>