<!DOCTYPE html>

<html>

<head>
    <title>Help</title>
    {{>meta}}
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>{{helpText}}</p>
    </div>
    
    {{>footer}}
</body>

</html>